body{
    background-color: rgb(255, 255, 255);
}

#main-header{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    overflow:hidden;    
}

#main-header h1{
    color: orange;
}

#main-header h1{
    text-align:center;
} 

#i-o {
    background-color: rgb(34, 36, 39);
}

#input-screen {
    font-size:20px;
    color:white;
    text-align: left;
    margin:10px;
}

#output-screen{
    font-size:24px;
    color:white;
    text-align: right;
    margin: 10px;
}

#calculator{
    width: 320px;
    margin: 0 auto;
    background-color: black;
    border-color: orange;
}

#button{
   margin: 0 auto;
    background-color: #000000;
}

button:hover{
    background-color: red;
}

#c:hover{
    background-color: red;
}

#delete:hover{
    background-color: red;
}

#enter:hover{
    background-color: red;
}

#answer:hover{
    background-color: red;
}

#button button{
   font-size: 24px;
   width: 50px;
   margin-top:5px;
   margin-bottom:5px;
   margin-left: 20px;

}

#button .double-size{
    width:124px;
}


#row-5 button{
    margin-bottom: 20px;
}

.operator{
    background-color: orange;
    border-color: orange;    
}

.number{
    background-color: whitesmoke;
}

#c{
    background-color: rgb(180, 161, 161);
    border-color:rgb(180, 161, 161);
}

#delete{
    background-color: rgb(180, 161, 161);
    border-color:rgb(180, 161, 161);  
}

#enter{
    background-color: rgb(180, 161, 161);
    border-color:rgb(180, 161, 161);  
}

#answer{
    background-color: rgb(180, 161, 161);
    border-color:rgb(180, 161, 161);
}

